body {
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	color: #000080;
	font-size: 175%;
}
nav.navbar{
	background-color: #808080;
}
nav .navbar-header {
	padding-top: 20px;
	height: 100px;
}
nav.navbar-default .navbar-brand {
	font-size: 5vw;
	font-weight: bold;
	color: #663399;
}
nav.navbar-default .navbar-toggle {
	border: 3px solid black;
}
nav.navbar-default .navbar-toggle>.icon-bar {
	background-color: black;
}
nav.navbar-default ul {
	background-color: #DDA0DD;
	margin-top:0px;
	margin-bottom: 0px;
}
nav.navbar-default ul .nav-item a {
	text-align: center;
	text-transform: capitalize;
	color: #4B0082;
}
nav.navbar-default ul .nav-item a:hover {
	background-color: #48D1CC; 
} 
hr {
	margin: 0px;
	border-top: 1px solid black;
}
.col-md-6,.col-sm-6,.col-sm-12 {
	padding: 15px;
}
section {
	border: 2px solid black;
	padding: 10px;
	background-color: #B0E0E6;
	border-radius: 10px;
}
h1 {
	text-transform: capitalize;
	margin-top: 10px;
	margin-bottom: 15px;
}
h3 {
	text-transform: capitalize;
	margin-bottom: 15px;
}
p a {
	text-transform: capitalize;
}
